@tailwind base;
@tailwind components;
@tailwind utilities;

.lead{
    line-height: 3.5rem;
}

.login-container{
    width: 800px;
    height: 600px;
    @apply p-4;
}

ul.dropdown-content li{
    @apply my-1 p-2 rounded-xl hover:bg-slate-200 hover:bg-opacity-50 transition-all;
    transition-duration: 300ms;
}